div{
    border: 2px solid red;
    width: 350px;
    height: 300px;
    background-color: white;
    color: black;
    margin-left: 50px;
}
body{
    background-color: black;
}
a{
    color: black;
}
h1{
    margin-left: 700px;
    color: white;
}
section{
    display: flex;
    margin: 50px;
}

button{
            margin-left: 50px;
           
            background-color: red;
            color: white;
}