.box {
  background-color: yellow;
  border-radius: 50%; /* creates a circular background */
  height: 30vh; /* makes the sun the size of the viewport */
  aspect-ratio: 1 / 1;
  margin: 30px auto;
  animation: 4s linear 0s infinite alternate sun;
}


@keyframes sun{
    from{
        transform: translateY(110vh);
    }
    to{
        transform: translateY(0);
    }
}